#explorePage {
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  background-color: #c5c5c5;
}
#explore-hero {
  font-family: sans-serif;
  margin: 20px 10%;
}

#explore-hero h3 {
  font-size: 1.1rem;
  font-weight: 4;
  color: rgb(255, 255, 255);
}
#explore-hero h1 {
  font-size: 2rem;
  letter-spacing: 2px;
  /* font-weight: 4 ; */
  color: rgb(67, 67, 67);
}
#explore-hero h2 {
  letter-spacing: 0.1px;
  color: rgb(67, 67, 67);
}

.home-img {
  border-radius: 20px;
  width: 400px;
  position: absolute;
  left: 950px;
  top: 100px;
}

.home-robo {
  border-radius: 20px;
  width: 400px;
  position: absolute;
  left: 150px;
  top: 450px;
}

.leet-logo {
  width: 150px;
}

#home-btn {
  margin: 15px 5px;
  padding: 10px;
  border: 2px solid blue;
  border-radius: 10px;
  background-color: rgb(255, 240, 182);
  font-size: 14px;
}

#home-btn:hover {
  background-color: rgb(255, 218, 69);
  cursor: pointer;
}
